* {
    box-sizing: border-box; 
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation */ 
.nav-container {
    height: 60px;
}
.wrapper {
    width: 1110px;
    margin: 0 auto; /* 0 for top/bottom, auto for left/right */
}

nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 60px;
}

nav ul {
    display: flex; 
    padding: 0; 
  
}

nav .logo {
    font-family: 'Roboto'; /* TODO: fix Roboto font */ 
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    color: #37447E;
}

.nav-items li { 
    list-style: none;
    margin-right: 55px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0; 
}

.nav-items li a {
    font-family: "Roboto"; /*TODO: fix font */ 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #505F98;
    text-decoration: none;
}

/* Header */ 
.header-container { /* overlap background into nav bar*/
    background: url('images/background-path.svg'); 
    background-repeat: no-repeat; 
    background-position: right;
    background-size: contain;
    height: 175vh; /*TODO fix size*/ 
    display: flex;
    align-items: center; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .hero-content h1 {
    font-family: "Roboto"; /*TODO font*/ 
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
    margin-bottom: 20px;
}

header .hero-content p {
    font-family: Roboto; /* TODO can remove */ 
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #505F98;
    margin-bottom: 39px;
}

header .hero-btns {
    display: flex; 
    list-style-type: none;

}

header .hero-btns .button1 a {
    color: #FFFFFF;
    font-family: Roboto; /*TODO fix*/ 
    font-size: 16px;
    text-decoration: none;

    background: #111B47;
    border-radius: 2px;
    padding: 10px 35px; /* TODO fix */ 
    margin-right: calc(28.79px + 35px); /*TODO fix after changing font*/ 
    /*display: inline-block; */
    transition: 300ms;
}

header .button1 a:hover { 
    background-color: darkblue;
}

header .hero-btns .button2 a {
    color: #091133;
    font-family: Roboto;
    font-size: 16px;
    text-decoration: none;
    
    border: 2px solid #091133;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 35px; /* TODO fix */ 
}

/* Search Box */ 

/* Feedback */
.feedback-container { /* overlap background into nav bar*/
    background: url('images/feedbackBackground.svg'); 
    background-repeat: no-repeat; 
    background-position: right;
    background-size: contain;
    height: 175vh; /*TODO fix size*/ 
    display: flex;
    align-items: center; 
}

feedback-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

feedback-body h1 {
    position: absolute;
    height: 48px;
    left: 0px;
    right: 0px;
    top: 1750px;

    /* Medium 36 */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Colour/Main/Blue/900 */

    color: #091133;
}

feedback-body a {
    position: absolute;
    height: 48px;
    left: 650px;
    right: 200px;
    top: 1850px;
}




/* Hidden Items */ 

/*
.search-box {
    display: none;
} */