* {
    box-sizing: border-box; 
    margin: 0;
}

body {
    font-family: 'PT Sans', 'Roboto';
}

/* Navigation */ 
.nav-container {
    height: 60px;
}
.wrapper {
    width: 1110px;
    margin: 0 auto; /* 0 for top/bottom, auto for left/right */
}

nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 60px;
}

nav ul {
    display: flex; 
    padding: 0; 
}

nav .logo {
    font-family: PT Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    color: #37447E;
}

.nav-items li { 
    list-style: none;
    margin-right: 55px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0; 
}

.nav-items li a {
    font-family: PT Sans; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #505F98;
    text-decoration: none;
}

/* Header & Hero */ 
.header-container { /* overlap background into nav bar*/
    background: url('images/background-path.svg'); 
    background-repeat: no-repeat; 
    background-position: right;
    background-size: contain;
    height: 175vh; /*TODO fix size*/ 
    display: flex;
    align-items: center; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .hero-content h1 {
    font-family: PT Sans; 
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
    margin-bottom: 20px;
}

header .hero-content p {
    font-family: PT Sans; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #505F98;
    margin-bottom: 39px;
}

header .hero-btns {
    display: flex; 
    list-style-type: none;
}

header .hero-btns .button1 a {
    color: #FFFFFF;
    font-family: PT Sans; /*TODO fix*/ 
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;

    background: #111B47;
    border-radius: 2px;
    padding: 10px 35px; /* TODO fix */ 
    margin-right: calc(28.79px + 35px); /*TODO fix after changing font*/ 
    /*display: inline-block; */
    transition: 300ms;
}

header .button1 a:hover { 
    background-color: darkblue;
}

header .hero-btns .button2 a {
    color: #091133;
    font-family: PT Sans;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    
    border: 2px solid #091133;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 35px; /* TODO fix */ 
}

/* Jobs & Table */

.jobs-container {
    
}

.jobs-content {
    width: 1270px;
    margin-bottom: 70px;
}

    .jobs-content-intro {
        display: flex;
        float: left;
        justify-content: space-between;
        
        background: url('images/jobs-content-background.svg'); 
        background-repeat: no-repeat; 
        background-position: left;
        height: 469.34px;
        
        }

        .jobs-image {
            margin-top: 145px;
            margin-left: 68px;
        }
        .jobs-content .description {
            width: 674px;
            margin-top: 74px;
            margin-left: 168.81px;
        }
            .jobs-content .description h1 {
                font-family: PT Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 50px;
                letter-spacing: 1.5px;
                color: #091133;
                margin-bottom: 24px;
            }

            .jobs-content .description p {
                font-family: PT Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                color: #222F65;
                margin-bottom: 0; /* TODO: add space between paragraphs */
            }

    .jobs-content table {
        padding-top: 0px;
        width: 1084px;
        margin: 70px auto;
    }

        .jobs-content table tr th {
            font-family: PT Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            background: white; 
            color: #505F98;
            text-align: left;
            padding-bottom: 18px;
        }

        .jobs-content table tr td {
            font-family: PT Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            padding: 10px;
        }

        table tr td:nth-child(2) {
            font-weight: 500;
            color: #EB5757
            /* TODO: need to CAPs*
            /* TODO: need green color if open*/
        }


        tr:nth-child(odd) {
            background: rgba(119, 155, 231, 0.1); 
        }



/* Feedback Section */ 
.feedback-container {
    display: flex; /* IMPORTANT */ 
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 7px 38px -1px rgba(119, 155, 231, 0.25);
    border-radius: 38px;
    height: 174px; 
    width: 1110px;
    margin: auto;

}

feedback-body {
    display: vertical;
    align-items: center;
    justify-content: space-between;
    margin: auto; /* IMPORTANT */ 
    
    
}
feedback-body .feedback-content h1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}

/* TODO: align button */ 
feedback-body .feedback-content .feedback-btn a {
    font-family: PT Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    max-width: 200px;
    line-height: 18px;
    color: #FFFFFF;

    text-decoration: none;
    background: #111B47;
    border-radius: 2px;
    padding: 4px 35px; 
}


/* Footer */ 
.footer-container {
    background: #E7ECFF;
    height: 188px; 
    margin-top: 39px;
    width: 1270px;
}

.footer-container .footer-wrapper {
    width: 638px;
    margin-left: 80px;
}

.footer-content {
    align-items: center;
    justify-content: space-between;
    height: 188px;
}

footer .footer-content ul {
    display: flex;
    padding-left: 0;
    padding-top: 112px;
    list-style: none;
}

.footer-items li {
    margin-right: 70px;
}

.footer-items li a {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #929ECC;
    text-decoration: none;
}

footer .footer-logo {
    float: right; 
    width: 170px;
    padding-top: 30px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
}






/* Hidden Items */ 

/*
.search-box {
    display: none;
} */