* {
    box-sizing: border-box; 
    margin: 0;
}

body {
    font-family: 'PT Sans', 'Roboto';
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow-x: hidden;*/
    background-color: #FAFAFA;
}
/* LANDING PAGE */
/*--------------------------------------------------------------------------------------------------------------------------------*/
.landing-page {
    /*background: url('images/landing/big-background.svg'); */
    background-repeat: no-repeat;
    background-position: center top;
}

/* Navigation */ 
.nav-container {
    background: #EFF2FC;
    height: 88px;
    /*min-width: 1270px;*/ /* only for scrolling feature*/
}
.wrapper {
    width: 100%;
    max-width: 1270px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center; 
    height: 88px;
}

nav ul {
    display: flex; 
    padding: 0; 
    margin-left: 80px;
}

nav .logo {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
    margin-left: 25%;
}

.nav-items li { 
    list-style: none;
    margin-right: 55px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0; 
}

.nav-items li a {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #505F98;
    text-decoration: none;
}

/* Header & Hero */ 
.header-container { 
    display: flex;
    align-items: center; 
}
.header-wrapper {
    margin-top: 30px;
    width: 1270px;
    margin: auto;
}

.header-wrapper header {
    display: flex;
    align-items: center;
}

header .hero-content {
    margin-left: 80px;
}

header .hero-image {
    width: auto; 
}

header .hero-image img {
    width: 140%;
    height: auto;
    margin-left: -30%;
    margin-top: 30px;
    margin-bottom: -100px;
}

header .hero-content h1 {
    font-family: PT Sans; 
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 1.5px;
    color: #091133;
    margin-bottom: 30px;
    /*width: 569px;*/
    width: 80%;
}

header .hero-content p {
    font-family: PT Sans; 
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #222F65;
    margin-bottom: 14px;
    /*width: 527px;*/
    width: 80%;
}

/* MailChimp Form */ 
header form .mc-form {
    display: flex;
    margin-top: 28px;
    margin-bottom: 10px;
}
header form .mc-field-group input[type=email]{
    box-sizing: border-box;
    /*width: 378px;*/
    width: 130%;
    padding-left: 20px;
    height: 50px;
    background: #E7ECFF;
    border-radius: 9px;
    border: none;
}

header form .mc-field-group input, textarea {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #929ECC;
}
header form .clear input[type=submit] {
    background: #37447E;
    border-radius: 9px;
    padding: 11px 24px 9px 24px;
    margin-left: 8px;
    text-align: center;
    margin-left: 60%;

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

header .button-clicked {
    background-color: #4CAF50;
}

form input + .mce_inline_error {
    width: 60%;
    font-size: 0.75em; 
    position: relative;
    /*no effect */
    margin-top: 10px;
    background: #FFC93C;
    color: #FFC93C;
}

form .clear .response {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #222F65;
}

#mc_embed_signup div.mce_inline_error {
    background-color: #FFC93C !important;
    color: black; 
    /*display: none !important; */
}

header .hero-content h2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #505F98;
}


/* Jobs & Table */
.jobs-container {
    display: flex;
    align-items: center; 
}

    .jobs-wrapper {
        width: 1270px;
        margin: auto;
    }
        .jobs-wrapper header {
            display: flex;
            align-items: center;
        }

        header .jobs-image {
            width: 25%;
        }  
        header .jobs-image img {
            width: 100%;
            height: auto;
            
        }

        .jobs-container .description {
            width: 55%; 
            margin-top: 50px;
            /*margin-left: 168.81px;*/
            margin-left: 10%;
        }
            .jobs-container .description h1 {
                font-family: PT Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 50px;
                letter-spacing: 1.5px;
                color: #091133;
                margin-bottom: 24px;
            }

            .jobs-container .description p {
                font-family: PT Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                color: #222F65;
                
            }

.table-container table {
    padding-top: 0px;
    width: 85%;
    max-width: 1084px;
    margin: 70px auto;
    display: table;
}

    .table-container table tr th {
        font-family: PT Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        background-color: #FAFAFA;
        color: #505F98;
        text-align: left;
        padding-bottom: 18px;
    }

    .table-container table tr td {
        font-family: PT Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        padding: 10px;
    }

    table tr td:nth-child(2) {
        font-weight: 500;
        color: #000000;
        /* TODO: need to CAPs*
        /* TODO: need green color if open*/
    }


    tr:nth-child(odd) {
        background: rgba(119, 155, 231, 0.1); 
    }

    td .green {
        color:green; 
    }



/* Feedback Section */ 
.feedback-container {
    display: flex; /* IMPORTANT */ 
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 7px 38px -1px rgba(119, 155, 231, 0.25);
    border-radius: 38px;
    height: 174px; 
    width: 85%;
    max-width: 1110px;
    margin: auto;

}

feedback-body {
    display: vertical;
    align-items: center;
    justify-content: space-between;
    margin: auto; /* IMPORTANT */ 
    
    
}
feedback-body .feedback-content h1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}

/* TODO: align button */ 
feedback-body .feedback-content .feedback-btn {
    margin-left: 27px;
    margin-top: 15px;
}
feedback-body .feedback-content .feedback-btn a {
    font-family: PT Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    max-width: 200px;
    line-height: 18px;
    color: #FFFFFF;

    text-decoration: none;
    background: #37447E;
    border-radius: 6px;
    padding: 4px 35px; 
}


/* Footer */ 
.footer-container {
    background: #E7ECFF;
    height: 188px; 
    margin-top: 39px;
    /*min-width: 1270px;*/
}

.footer-container .footer-wrapper {
    width: 100%;
    max-width: 1270px;
    margin: auto;
}

.footer-content {
    align-items: center;
    height: 188px;
    margin-left: 80px;
}

footer .footer-content ul {
    display: flex;
    padding-left: 0;
    padding-top: 112px;
    list-style: none;
}

.footer-items li {
    margin-right: 70px;
}

.footer-items li a {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #929ECC;
    text-decoration: none;
}

footer .footer-logo {
    float: right; 
    width: 170px;
    padding-top: 30px;
    /*margin-right: 540px;*/
    margin-right: 45%;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
}



/*desktop, tablet*/
/*mac vs windows*/
/*max zoom is 500%*/ 

/* mobile phone size, 250% zoom */
@media only screen and (max-width: 600px) {
    /*.landing-page {width: 430px;}*/
    .nav-container { background: blue; }
    nav ul {margin-left: 40px; }
    nav .logo {margin-left: 100px;}
    header .hero-content { 
        width: 430px; 
        margin-left: 40px; }
    header .hero-content h1 {width: 430px;}
    header .hero-content p { width: 430px; }
    /*header form .mc-field-group input[type=email]{
        width: 300px; }*/
    .jobs-image { display: none;}
    .jobs-content .description {
        width: 430px;
        margin-left: 40px; }
    

}
 /* small devices (portrait tablets, large phones) */ 
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/*--------------------------------------------------------------------------------------------------------------------------------*/

/* Resources */
.resources-header-container {
    margin: auto;
    width: 1270px;
}

.resources-header-container h1{
    margin: auto;
    position: absolute;
    height: 65px;
    left: 526px;
    right: 527px;
    top: 178px;
    height: 65px;
    width: 217px;
    /* Remember that it is important to include height and width. 
    Found by scrolling over text and seeing the ?? x ?? below 
    the text box */
    
    /* Heading_PT Sans_Bold */
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 1.5px;
    color: #091133;
}

.resources-header-container p{
    /* Title */
    margin: auto;
    position: absolute;
    height: 60px;
    left: 243px;
    right: 243px;
    top: 285px;
    height: 60px;
    width: 784px;
    /* Remember that it is important to include height and width. 
    Found by scrolling over text and seeing the ?? x ?? below 
    the text box */

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #222F65;
}

.resources-header-container .resources-image {
    /* Vector */
    margin-left: 434px;
    position: absolute;
    width: 91.12px;
    height: 142.03px;
    top: 148px;
    /* background: #E7ECFF; */

}

 /* Websites and Subscriptions */
 .description {
     width: 479px;
     margin: auto;
 }

.websites-subscriptions-content .description h1 {
    margin: auto;
    position: absolute;
    left: 109px;
    right: 704px;
    top: 406px;
    height: 51px;
    width: 500px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 140% */
    
    letter-spacing: 1.5px;
    
    /* Colour/Main/Blue/900 */
    
    color: #091133;

}

.websites-subscriptions-content .description .wsBar {
    margin: auto;
    position: absolute;
    width: 457px;
    height: 7px;
    left: 172.5px;
    top: 450px;

}

.websites-subscriptions-content .description p1 {
    margin: auto;
    
    position: absolute;
    height: 40px;
    left: 62.5px;
    right: 711px;
    top: 481px;
    height: 40px;
    width: 451px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */


    color: #222F65;

}

.websites-subscriptions-content .description .mAndI {
    /* Body */

    margin: auto;
    position: absolute;
    height: 30px;
    left: 144px;
    right: 912px;
    top: 555px;
    width: 214px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;

}

.websites-subscriptions-content .description p2 {
    margin: auto;
    position: absolute;
    height: 138px;
    left: 146px;
    right: 708px;
    top: 585px;
    height: 138px;
    width: 416px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;

}

.websites-subscriptions-content .description .bullet1 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 192.5px;
    top: 560px;
    
}

.websites-subscriptions-content .description .wsRectangle {
    margin: auto;
    position: absolute;
    width: 479px;
    height: 362px;
    left: 172.5px;
    top: 532px;
    
    border-radius: 20px;
 }


 .websites-subscriptions-content .description .mB {

    margin: auto;
    /* Body */


    position: absolute;
    height: 30px;
    left: 146px;
    right: 1027px;
    top: 729px;
    width: 97px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;

}

.websites-subscriptions-content .description p3 {
    margin: auto;
   /* Body */


    position: absolute;
    height: 112px;
    left: 146px;
    right: 708px;
    top: 759px;
    width: 416px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;

}

.websites-subscriptions-content .description .bullet2 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 192.5px;
    top: 734px;
    
}



 /* Interview Preparation */
 .interview-preparation-content .description h1 {
    margin: auto;
    position: absolute;
    height: 51px;
    left: 71.5px;
    right: 798px;
    top: 922px;
    width: 370px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 140% */
    
    letter-spacing: 1.5px;
    
    /* Colour/Main/Blue/900 */
    
    color: #091133;
 }

 .interview-preparation-content .description .ipBar {
    position: absolute;
    width: 363px;
    height: 7px;
    left: 172.5px;
    top: 966px;
 }

 .interview-preparation-content .description p1 {
    margin: auto;
    /* Body */


    position: absolute;
    height: 40px;
    left: 63.5px;
    right: 708px;
    top: 995px;
    width:452px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */


    color: #222F65;

 }

 .interview-preparation-content .description p2 {
    margin: auto;
    /* Title */


    position: absolute;
    height: 69px;
    left: 711px;
    right: 155px;
    top: 1352px;
    height: 69px;
    width: 404px;
    /* Remember that it is important to include height and width. 
    Found by scrolling over text and seeing the ?? x ?? below 
    the text box */

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;

}

.interview-preparation-content .description .ipRectangle {

    position: absolute;
    width: 479px;
    height: 914px;
    left: 172.5px;
    top: 1046px;
    
    border-radius: 20px;
}

.interview-preparation-content .description .wsoTG {
    margin: auto;
    position: absolute;
    height: 30px;
    left: 144px;
    right: 980px;
    top: 1075px;
    width: 146px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;

}

.interview-preparation-content .description p2 {
    margin: auto;
    position: absolute;
    height: 175px;
    left: 145px;
    right: 708px;
    top: 1105px;
    width:417px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;

}

.interview-preparation-content .description .bullet1 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 190.5px;
    /* Subtract 6 from top for correct bullet point placement, ex. this was originally 1085px */
    top: 1079px;
    
}

.interview-preparation-content .description .miG {
    margin: auto;
    position: absolute;
    height: 30px;
    left: 144px;
    right: 1052px;
    top: 1286px;
    width: 74px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;

}

.interview-preparation-content .description p3 {
    margin: auto;
    position: absolute;
    height: 245px;
    left: 145px;
    right: 708px;
    top: 1316px;
    width: 417px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;

}

.interview-preparation-content .description .bullet2 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 190.5px;
    top: 1290px;
}


.interview-preparation-content .description .wsoBG {
    margin: auto;
    position: absolute;
    height: 30px;
    left: 144px;
    right: 972px;
    top: 1569px;
    width: 154px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;
}

.interview-preparation-content .description p4 {
    margin: auto;
    position: absolute;
    height: 164px;
    left: 145px;
    right: 708px;
    top: 1599px;
    width: 417px;
    
    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    /* or 144% */
    
    
    color: #222F65;
    


}

.interview-preparation-content .description .bullet3 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 190.5px;
    top: 1573px;

}


.interview-preparation-content .description .wsoNG {
    margin: auto;
/* Body */


    position: absolute;
    height: 30px;
    left: 144px;
    right: 966px;
    top: 1769px;
    width: 160px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;

}

.interview-preparation-content .description p5 {
    margin: auto;
    position: absolute;
    height: 138px;
    left: 145px;
    right: 708px;
    top: 1799px;
    width: 417px;
    
    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    /* or 144% */
    
    
    color: #222F65;


}

.interview-preparation-content .description .bullet4 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 190.5px;
    top: 1773px;

}




/* Books */

.books-content .description h1 {
    margin: auto;
    position: absolute;
    height: 51px;
    left: 636.5px;
    right: 488px;
    top: 405px;
    width: 99px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 140% */

    letter-spacing: 1.5px;

    /* Colour/Main/Blue/900 */

    color: #091133;

}

.books-content .description .bBar {
    /* Rectangle 27 */


    position: absolute;
    width: 99px;
    height: 7px;
    left: 745.5px;
    top: 450px;


}

.books-content .description p1 {
    margin: 0 auto;
    position: absolute;
    height: 40px;
    left: 636.5px;
    right: 133px;
    top: 481px;
    width: 455px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */


    color: #222F65;

}


.books-content .description .bRectangle {
    position: absolute;
    width: 480px;
    height: 520px;
    left: 745.5px;
    top: 532px;

    border-radius: 20px;
 }


 .books-content .description .ibBook {
    margin: 0 auto;
    position: absolute;
    height: 63px;
    left: 718px;
    right: 137px;
    top: 555px;
    width: 430px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;

}

.books-content .description p2 {
    margin: 0 auto;
    position: absolute;
    height: 92px;
    left: 719px;
    right: 152px;
    top: 618px;
    width: 399px;
    
    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
    
    
    color: #222F65;

}

.books-content .description .bullet1 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 764.5px;
    top: 559px;

    
}


.books-content .description .ddaBook {
    margin: 0 auto;
    position: absolute;
    height: 30px;
    left: 718px;
    right: 133px;
    top: 716px;
    width: 419px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;

}

.books-content .description p3 {
    margin: 0 auto;
    position: absolute;
    height: 69px;
    left: 718px;
    right: 153px;
    top: 746px;
    width: 399px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;


}

.books-content .description .bullet2 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 764.5px;
    top: 721px;

    
}


.books-content .description .tiiBook {
    margin: 0 auto;
    position: absolute;
    height: 29px;
    left: 718px;
    right: 133px;
    top: 821px;
    width: 419px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;


}

.books-content .description p4 {
    margin: 0 auto;
    position: absolute;
    height: 69px;
    left: 719px;
    right: 134px;
    top: 878px;
    width: 417px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;


}

.books-content .description .bullet3 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 764.5px;
    top: 825px;

}


.books-content .description .lpBook {
    margin: 0 auto;
    position: absolute;
    height: 30px;
    left: 718px;
    right: 472px;
    top: 953px;
    width: 100px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    font-feature-settings: 'ordn' on, 'kern' off;

    color: #222F65;


}

.books-content .description p5 {
    margin: 0 auto;
    position: absolute;
    height: 46px;
    left: 719px;
    right: 150px;
    top: 983px;
    width: 401px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;


}

.books-content .description .bullet4 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 764.5px;
    top: 957px;

}




/* Resume Reviews and Networking Calls */

.resume-networking-content .description h1 {
    margin: 0 auto;
    position: absolute;
    height: 87px;
    left: 636.5px;
    right: 238px;
    top: 1080px;
    width: 349px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    /* or 121% */

    letter-spacing: 1.5px;

    /* Colour/Main/Blue/900 */

    color: #091133;


}

.resume-networking-content .description .rrncBar {
    position: absolute;
    width: 344px;
    height: 7px;
    left: 745.5px;
    top: 1167px;


}

.resume-networking-content .description p1 {
    margin: 0 auto;
    position: absolute;
    height: 20px;
    left: 636.5px;
    right: 189px;
    top: 1196px;
    width: 398px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    color: #222F65;


}


.resume-networking-content .description .rrncRectangle {
    position: absolute;
    width: 480px;
    height: 129px;
    left: 745.5px;
    top: 1238px;


    border-radius: 20px;
 }


 .resume-networking-content .description p2 {
    margin: 0 auto;
    position: absolute;
    height: 92px;
    left: 720px;
    right: 134px;
    top: 1257px;
    width: 420px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;


}



/* Communities */

.communities-content .description h1 {
    margin: 0 auto;
    /* Title */


    position: absolute;
    height: 51px;
    left: 636.5px;
    right: 366px;
    top: 1395px;
    width: 216px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 140% */

    letter-spacing: 1.5px;

    /* Colour/Main/Blue/900 */

    color: #091133;

}

.communities-content .description .cBar {
    position: absolute;
    width: 221px;
    height: 7px;
    left: 745.5px;
    top: 1442px;
}

.communities-content .description p1 {
    margin: 0 auto;
    position: absolute;
    height: 40px;
    left: 636.5px;
    right: 134px;
    top: 1470px;
    width: 453px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */


    color: #222F65;


}


.communities-content .description .cRectangle {
    position: absolute;
    width: 480px;
    height: 297px;
    left: 744.5px;
    top: 1521px;

    border-radius: 20px;
 }


 .communities-content .description .wso {
    margin: 0 auto;
    position: absolute;
    height: 30px;
    left: 719px;
    right: 140px;
    top: 1544px;
    width: 411px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;


}

.communities-content .description p2 {
    margin: 0 auto;
    position: absolute;
    height: 92px;
    left: 720px;
    right: 134px;
    top: 1574px;
    width: 416px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;



}

.communities-content .description .bullet1 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 764.5px;
    top: 1548px;
}



.communities-content .description .reddit {
    margin: 0 auto;
    position: absolute;
    height: 30px;
    left: 719px;
    right: 140px;
    top: 1673px;
    width: 411px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */


    color: #222F65;



}

.communities-content .description p3 {
    margin: 0 auto;
    position: absolute;
    height: 92px;
    left: 720px;
    right: 134px;
    top: 1703px;
    width: 416px;

    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */


    color: #222F65;



}

.communities-content .description .bullet2 {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 764.5px;
    top: 1677px;

}

/*--------------------------------------------------------------------------------------------------------------------------------*/