/* Navigation */
.navbar {
  background: #eff2fc !important;
}

nav ul {
  margin-left: auto;
}

nav .navbar-nav-auth {
  margin-left: 3rem;
}

nav li:hover {
  cursor: pointer;
  color: #222f65 !important;
}

nav .nav-item {
  margin: 0 12px;
}

.navbar-nav .nav-item .nav-link{
  color: #222f65 !important;
}

.nav-outline-btn {
  background-color: #505f98 !important;
  border-radius: 24px;
  color: #ffffff !important;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.navbar-toggler {
  margin-left: auto;
}
