.landing-page {
  overflow-x: hidden;
}

.landing-page .container-lg {
  min-height: 100vh;
}

.landing-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -85px; /** Navbar height **/
}

.landing-intro-section-wrapper {
  flex: 1;
}

.landing-intro .title {
  color: #091133;
  font-weight: bold;
}

.landing-intro .body {
  margin: 24px 0px;
  color: #222f65;
}

.landing-intro .btn {
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
}

.landing-intro .buyer-btn {
  background-color: #37447e;
  color: #ffffff;
}

.landing-intro .seller-btn {
  background-color: #ffc93c;
  color: #222f65;
}

.landing-hiw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-hiw .row .title {
  font-weight: bold;
  text-align: center;
}

.landing-hiw .row .user-container {
  background-color: #eff2fc;
  border-radius: 35px;
  min-height: 432px;
}

.landing-faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-faq .title {
  font-weight: bold;
  text-align: center;
  color: #091133;
}

.landing-faq .row {
  margin-top: 6rem;
}

.landing-faq .body {
  text-align: center;
  color: #222f65;
}

.landing-faq .faq-list {
  background-color: #eff2fc;
  border-radius: 20px;
  min-height: 132px;
}

.landing-faq .faq-list li .body {
  font-weight: bold;
  text-align: left;
}

.landing-faq .faq-list ul li {
  color: #6f7cb2;
  font-size: 24px;
  margin-left: -5px;
}

.landing-feedback {
  box-shadow: 0px 7px 38px -1px rgba(119, 155, 231, 0.25);
  text-align: center;
  padding: 36px;
  border-radius: 12px;
  display: grid;
  place-items: center;

  min-height: 30vh !important;
  margin-bottom: 8rem;
}

.landing-feedback .title {
  font-family: "Roboto";
  font-weight: 500;
}

.landing-feedback .btn {
  font-family: "Roboto";
  font-weight: 500;
  background-color: #bac3e5;
  border-radius: 12px;
  color: #222f65;
}
